@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Prata&display=swap');
.wedding-font {
  font-family: "Poppins", cursive;
  font-size: 20px !important;
}

.title-wedding-font {
  font-family: 'Dancing Script', cursive;
  font-size: 50px !important;
}

.subtitle-wedding-font {
  font-family: 'Dancing Script', cursive;
  font-size: 60px !important;
}

.title-wedding-gradient {
  background: -webkit-linear-gradient(45deg, #ff9a9e, #fad0c4, #fad0c4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.portfolio .thumbnail-inner::before {
    background-color: #ff9a9e !important;
    background-image: linear-gradient(#ff9a9e 10%, #000000 100%) !important;
}

#scrollUp {
    color: #ff9a9e !important;
}

.thumbnail-inner{
    /* Add shadow */
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
} 

div.footer-color::before {
  background-color: #B57373;
  opacity: 1;
}
.footer-style-2 p {
  color: white;
}

.qst{
  color:#B57373;
  font-family: 'Dancing Script', cursive;
  font-weight:700 ;
  font-size: 50px !important;
  text-align: center;
  line-height: 1.5;
}

.header-area .header-wrapper{
  justify-content: space-around;
}

.header-area.header--transparent .header-wrapper{
  padding : 50px 0;
}